@model SpitalFinal.Models.Investigatie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Investigatie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rezultat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rezultat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datazilei)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datazilei)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FisaMedic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FisaMedic.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InvestigatieId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
