@model IEnumerable<SpitalFinal.Models.Investigatie>
<head>
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
</head>
@{
    ViewData["Title"] = "Index";
}

<body>
<h1>WelCome</h1>

<p class="h2mod">
    <a asp-action="Create">Create a new Investigation</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rezultat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datazilei)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FisaMedic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rezultat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datazilei)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FisaMedic.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InvestigatieId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InvestigatieId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InvestigatieId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>