@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}
<style>
    .mod {
        position: relative;
        width: 400px;
        height: 440px;
        background: transparent;
        border: 2px solid rgba(255,255,255,.5);
        border-radius: 20px;
    }

    .h2mod {
        font-family: Arial, sans-serif;
        color: aqua;
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
    }


    h1 {
        font-family: Arial, sans-serif;
        color: aqua;
        font-size: 32px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h3, h4, h6 {
        color: turquoise;
    }

    .colorTextAqua {
        color: aqua;
        background: transparent;
    }


    body {
        background-image: url('@Url.Content("~/img/eye.jpg")');
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>
<h1>@ViewData["Title"]</h1>
<body>
<div class="mod">
    <div class="mod">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2 class="h2mod ">Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control colorTextAqua" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class=" colorTextAqua">Email</label>
                    <span asp-validation-for="Input.Email" class="colorTextAqua"></span>
            </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.UserName" class="form-control colorTextAqua"  aria-required="true" placeholder="Your username" />
                    <label asp-for="Input.UserName" class="colorTextAqua">Username</label>
                    <span asp-validation-for="Input.UserName" class="colorTextAqua"></span>
                </div>
            <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control colorTextAqua" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class=" colorTextAqua">Password</label>
                    <span asp-validation-for="Input.Password" class="colorTextAqua"></span>
            </div>
            <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control colorTextAqua" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword" class=" colorTextAqua">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="colorTextAqua"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                      
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
