@model IEnumerable<SpitalFinal.Models.RetetaMedicala>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
</head>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Denumire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prospect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataExpirare)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Denumire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prospect)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataExpirare)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RetetaMedicalaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RetetaMedicalaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RetetaMedicalaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
